#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


# main packaging script based on dh7 syntax
%:
	dh $@ 

# This is based off of the debian version of u-boot

override_dh_auto_build: TOOLSDIR := debian/build/tools
override_dh_auto_build:
	builddir=debian/build/u-boot-ledgateway; \
	targets="$$targets u-boot.bin";\
	mkdir -p $$builddir; \
	$(MAKE) O=$$builddir ledgateway_defconfig; \
	$(MAKE) O=$$builddir all; \
	$(MAKE) O=$$builddir env; \
	for target in $$targets; do \
		chmod -x $$builddir/$$target; \
		echo $$builddir/$$target /boot \
			>> debian/build/targets.armhf;\
	done; \
	echo $$builddir/tools/env/fw_printenv /usr/bin \
		>> debian/build/targets.armhf
	echo tools/env/fw_env.config /etc \
		>> debian/build/targets.armhf
	echo flash-uboot /usr/bin \
		>> debian/build/targets.armhf

override_dh_auto_test:
	#skip tests

override_dh_clean:
	rm -rf debian/build/
	dh_clean

# debmake generated override targets
# This is example for Cmake (See http://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)




